@model int

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-4 text-center text-xxl">
            <h1 class="text-primary text-center">Payment Successful!</h1>
            Order Number : @Model <br /><br />
        </div>
    </div>
</div>